apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # - https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/static/provider/kind/deploy.yaml
  - ../../base

patches:
  - path: service-app.yml
    target:
      kind: Service
      name: giropops-senhas
      namespace: giropops
